* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #1f8dd6;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #666;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.logo img {
    padding-left: 15px;
}

.content {
    display: flex;
}

aside {
    width: 150px;
    min-height: 100vh;
    background: #555;
}

nav a {
    border: 1px solid #666;
    display: block;
    padding: 5%;
    padding-left: 15px;
    color: #cdcdcd;
    text-decoration: none;
}

nav a:hover {
    background: #3d3d3d;
}

main {
    width: 100%;
}