body {
    display: flex;
    margin: 0;
    font-family: sans-serif;
}


.login-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 300px;
    text-align: center;

    height: 250px;

    background-color: #f0f0f0;
}


.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: calc(100%);
    padding: 10px;
    background-color: #38aedd;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px
}



.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    flex: 1;
    padding: 20px;
}

.error {
    color: red;
}