<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Молокод</title>

    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style/theme.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/dm-logo.png"> Молокод</a>
        </div>
    </header>

    <div class="content">
        <aside>
            <nav>
                <a href="">Продукты</a>
                <a href="">АРМ</a>
                <a href="">Настройки</a>
                <a hx-get="/debug" hx-target="#main" hx-swap="innerHTML">Отладка</a>
                <a href="">Помощь</a>
            </nav>
        </aside>
        <main id="main"></main>
    </div>
</body>

</html>