<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Молокод</title>

    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <header>
        <a href="/"><img src="/static/dm-logo.png" alt="logo" /> Молокод</a>
    </header>
    <nav id="menu">

        <ul class="menu-list">
            <li><a class="menu-link" href="">Номенклатура</a></li>
            <li><a class="menu-link" href="">АРМ</a></li>
            <li><a class="menu-link" href="">Настройки</a></li>
            <li><a class="menu-link" href="">Помощь</a></li>
        </ul>
    </nav>
    <main id="content"></main>
</body>

</html>