{{ define "body" }}
<style>
    aside {
        margin-top: 56px;
        width: 180px;
    }

    .nav-link {
        color: #aaa
    }

    .nav-link:hover {
        color: #fff;
    }

    main {
        /* Высота фиксированного заголовка */
        margin-top: 56px;

        /* Ширина фиксированной боковой панели */
        padding-left: 180px;
    }

    #content {
        width: 100%;
        height: 100%;
    }
</style>

<header class="bg-dark p-3 fixed-top">
    <div class="ps-3">
        <a class="nav-link text-white d-flex align-items-center" href="/">
            <img src="/static/dm-logo.png">
            <span class="ps-3 h4 mb-0">Молокод</span>
        </a>
    </div>
</header>


<aside class="bg-dark p-3 min-vh-100 fixed-top">
    <nav class="nav flex-column">
        <a class="nav-link" href="">Продукты</a>
        <a class="nav-link" href="">АРМ</a>
        <a class="nav-link" href="">Настройки</a>
        <a class="nav-link" hx-get="/debug" href="" hx-target="#content" hx-swap="innerHTML">Отладка</a>
        <a class="nav-link" href="">Помощь</a>
    </nav>
</aside>
<main>
    <div class="p-3" id="content"></div>
</main>


{{ end }}