{{ define "body" }}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center mb-2">Молокод</h3>
            <h5 class="text-center mb-3">Вход в систему</h5>
            <form hx-post="/login" hx-target="#result" hx-swap="innerHTML">
                <div>
                    <input type="text" class="form-control mb-3" name="username" placeholder="Логин" required>
                </div>
                <div>
                    <input type="password" class="form-control mb-3" name="password" placeholder="Пароль" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-3">Войти</button>
                <div id="result"></div>
            </form>

        </div>
    </div>
</div>
{{ end }}